@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/


@media screen and (min-width: 768px) and (max-width: 992px) {  /* Tablet */
    section#login {
        width: calc(100% - 50px);
        height: 330px;
    }

    div.campo > input {
        padding: 5px;
        height: 39px;
        width: calc(100% - 50px);
        transform: translateY(-4px);
        border-radius: 5px;
    }


    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }

    div#formulario > p {
        font-size: 1em;
        padding: 5px;
    }


}

@media screen and (min-width: 992px) { /* Desktop e Telas grandes */
    section#login {
        width: 1000px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 45%;
        height: 100%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
}

    section#login > div#formulario {
        float: left;
        width: 55%; 
}

    div#formulario > p {
        padding: 10px;
        font-size: 1.1em;
}

    p#meuface {
        padding-top: 2px;
        font-size: 0.9em;
        text-align: center;
}

}
